<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.lindegroup.AutoPkgr.helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.lindegroup.AutoPkgr.helper</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "com.lindegroup.AutoPkgr" and certificate leaf = H"4d4e5e1eec40a8ccc1c4fe6db85a79554320e6d2"</string>
	</array>
</dict>
</plist>
